body {
    background-color: #202124;
    top: 0;
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #bdc1c6;
}

.section-um {
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
    background-image: url(elipse-letf.svg);
    background-repeat: no-repeat;
}

.cartao {
    background-color: #404244;;
    width: 800px;
    font-size: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.texto {
    padding: 1em;
    line-height: 30px;
}

.titulo {
    padding: 1em;
    color: rgba(255, 196, 0, 0.972);
}

.destaque {
    color: rgba(255, 196, 0, 0.972);
}

.section-dois {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 8em;
    align-items: center;
    background-image: url(/elipse-r.svg);
    background-position: right;
    background-repeat: no-repeat;

}

.cartao-dois {
    padding: 1em;
    text-align: center;
    background-color: #404244;;
    font-size: 20px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;

}

.cartao-web {
    background-color: #404244;;
    width: 800px;
    font-size: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.section-tres {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 3em;

}

.cartao-tres {
    padding: 1em;
    text-align: center;
    background-color: #404244;;
    font-size: 20px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    background-image: url(/elipse-letf.svg);
    background-repeat: no-repeat;

}

.avaliacao {
    color: aliceblue;
}

.section-quatro {
    padding-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.cartao-quatro {
    padding: 1em;
    text-align: center;
    background-color: #404244;;
    font-size: 20px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    background-image: url(/elipse-r.svg);
    background-position: right;
    background-repeat: no-repeat;

}

.planos {
    color: white;
}

.preco {
    color: rgba(255, 196, 0, 0.972);
    font-weight: bold;
}

.texto-quatro {
    font-size: 16px;
}

button {
    color: white;
    background-color: black;
    padding: 20px;
}

.footer {
    text-align: center;
    font-size: 14px;
    padding-top: 50px;
}



@media screen and  (max-device-width: 700px) {

    .section-um {
        display: grid;
        justify-content: center;
        padding-top: 20px;
        gap: 1em;
    }

    .cartao {
        background-color: #202124;
        width: 330px;
        font-size: 18px;
        background-image: url(/elipse-r.svg);
        background-position: right;
        background-repeat: no-repeat;
        height: 335px;
        text-align: center;
    }

    .foto-um {
        width: 400px;
        height: 335px;
    }

    .texto {
        padding: 1em;
        line-height: 20px;
    }

    .titulo {
        font-size: 20px;
        padding: 0;
        padding-left: 10px;
        color: rgba(255, 196, 0, 0.972);
    }

    .cartao-dois {
        padding: 1em;
        text-align: center;
        background-color: #404244;;
        font-size: 20px;
        width: 300px;
        height: 150px;
        overflow: hidden;
        align-items: center;
    
    }

    body {
        background-size: 100%;
    }

    .cartao-web {
        display: grid;
        width: 340px;
    }

    .foto-dois {
        width: 340px;
    }

    .section-dois {
        padding-top: 50px;
        display: grid;
        justify-content: center;
        gap: 2em;
        align-items: center;
    }

    .section-tres {
        padding-top: 50px;
        display: grid;
        justify-content: center;
        gap: 2em;
    }

    .section-quatro {
        padding-top: 50px;
        text-align: center;
        display: grid;
        justify-content: center;
        gap: 2em;
    }
}