body {
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #bdc1c6;
}

.section-um {
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
}

.cartao {
    background-color: #131516;;
    border-radius: 20px;
    width: 800px;
    font-size: 20px;
    overflow: hidden;
}

.texto {
    padding: 1em;
    line-height: 30px;
}

.titulo {
    padding: 1em;
    color: aqua;
}

.destaque {
    color: aqua;
}

